body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

.titulo {
    font-size: 4em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.subtitulo {
    font-size: 2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.seccion {
    font-size: 1.5em;
    font-weight: bold;
}

.textobase {
    font-size: 1.3em;
}

.navbar {
    height: 4rem;
    z-index: 999;
}

.main {
    flex: 1;
}

header,
footer {
    flex-shrink: 0;
}

.btn-custom {
    background-color: #D1E11B;
    color: #fff;
    /* Color del texto */
}

/* Cambio de color al pasar el ratón sobre el botón */
.btn-custom:hover {
    background-color: #A8C916;
}

.yellow {
    color: #D1E11B;
}

.yellow:hover {
    color: #A8C916;
}

.smallText {
    size: 5mm;
}

.mediumText {
    size: 3em;
}

#carouselExampleSlidesOnly {
    height: 50vh;
    /* Altura del carrusel: 50% de la altura de la ventana */
}

.carrusel {
    background-image: url('../../media/carrusel1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 60vh;
    /* Altura por defecto */
    color: #fff;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}



.busquedaPan {
    background-image: url('../../media/jaenmisterioso.jpg');
    /* Reemplaza 'tu-imagen.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
    /* Ajusta la altura según tus necesidades */
    color: #fff;
    /* Color del texto sobre la imagen */
    display: flex;
}

.link-custom {
    color: rgb(0, 0, 0);
}

.link-custom:hover {
    color: rgb(39, 35, 35);
}

.link-active {
    color: rgb(101, 101, 101);
}

.link-active:hover {
    color: rgb(108, 103, 103);
}

.bg-routing {
    background-color: rgb(184, 184, 184);
}

.custom-height {
    height: 300px;
}

#map,
#map-items,
#map-encounter-pt {
    height: 200px;
    width: 100%;
}

#map-inicio {
    height: 100%;
    width: 100%;
}

#tablaContainer {
    max-height: 300px;
    /* Altura máxima del contenedor */
    overflow-y: auto;
    /* Agregar barra de desplazamiento vertical si es necesario */
}

#sortable1,
#sortable2,
#toursAvalaible {
    border: 1px solid #eee;
    width: 142px;
    min-height: 200px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
    width: 100%;
}

#sortable1 li,
#sortable2 li,
#toursAvailable li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.box-1 {
    border-style: solid;
    border-width: thin;
    border-right: 0;
}

.box-2 {
    border-style: solid;
    border-width: thin;
}

.box-container {
    max-height: 200px;
    overflow-x: hidden;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 1px solid lightgray;
    padding: 8px;
    border-radius: 4px;
    color: dimgray;
    cursor: pointer;
}

.custom-select:focus {
    border-color: lightgrey;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.outline-custom {
    border: 1px solid lightgrey;
    color: black;
}

.outline-custom:hover {
    border: lightgrey;
    background-color: #A8C916;
}

.outline-custom input[type="checkbox"]:checked {
    background-color: #A8C916;
}

.custom-menu-item {
    /* Estilos para cada elemento li del autocompletado */
    padding: 10px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.custom-menu-item:last-child {
    /* Estilos para el último elemento li del autocompletado */
    border-bottom: none;
}

.custom-menu-item:hover {
    /* Estilos para el elemento li del autocompletado al pasar el ratón sobre él */
    background-color: #ddd;
}

#calendar {
    width: 100%;
    height: 600px;
    /* ajusta la altura según tus necesidades */
}

footer a {
    color: #ffffff;
    /* Color del texto de los enlaces */
    text-decoration: none;
    /* Elimina el subrayado predeterminado */
}

footer {
    position: relative;
    bottom: 0;
}

.nav a {
    color: grey;
}

.nav-link.active {
    font-weight: bold;
}

#valorar {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#valorar p {
    text-align: center;
}

#valorar label,
#filtros label {
    font-size: 20px;
}

#valorar input[type="radio"],
#filtros input[type="radio"] {
    display: none;
}

#valorar label,
#filtros label {
    color: grey;
}

#valorar .clasificacion,
#filtros .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

#valorar .clasificacion label,
#filtros .clasificacion label {
    font-size: 1.6rem;
}

#valorar label:hover,
#valorar label:hover~label,
#filtros label:hover,
#filtros label:hover~label {
    color: orange;
}

#valorar input[type="radio"]:checked~label,
#filtros input[type="radio"]:checked~label {
    color: orange;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Ajusta el último valor para cambiar la opacidad (0 para completamente transparente, 1 para completamente opaco) */
    z-index: 999;
    /* Asegura que el div esté en la parte superior */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.overlay img {
    max-width: 80%;
    max-height: 80%;
}

.clonedTemplate {
    box-shadow: 2px 2px 4px 1px gray;
}

.jello-horizontal {
    -webkit-animation: jello-horizontal 1.5s infinite both;
    animation: jello-horizontal 1.5s infinite both;
}

/* ----------------------------------------------
     * Generated by Animista on 2024-2-9 12:42:37
     * Licensed under FreeBSD License.
     * See http://animista.net/license for more info. 
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */

/**
     * ----------------------------------------
     * animation jello-horizontal
     * ----------------------------------------
     */
@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


.formSearch input,
.formSearch button {
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
}

.perfil-cal {
    display: none;
    height: auto;
}

.valido {
    border-color: green;
}

.invalido {
    border-color: red;
}

@media (max-width: 400px) {
    .titulo {
        font-size: 2em;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }

    .subtitulo {
        font-size: 1em;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }

    .seccion {
        font-size: 0.5em;
        font-weight: bold;
    }

    .textobase {
        font-size: 1px;
    }

    .sec-lan {
        width: 20%;
    }

    .carrusel {
        height: 80vh;
    }

    .miguitas {
        display: none;
    }
}