{% extends 'base.html.twig' %}

{% block body %}
	<section class="bg-routing col-12 mb-5 miguitas">
		<div class="py-3 ml-5 mr-5">
			<a class="link-custom" href="/">
				<h5>Inicio</a>
				>
				<a class="link-active" href="">Tours</h5>
			</a>
		</div>
	</section>
	<section>
		<div class="row m-5">
			<div class="col-lg-2 col-sm-12">
				<div class="col-12 bg-routing mb-3 p-4 h-auto">
					<form id="filtros">
						<p class="font-weight-bold" id="tourCount">Disponible
							{{tours|length}}
							resultados</p>
						<input class="form-control mb-3" list="loc-datalist" id="locationSearcher" placeholder="Busque por ciudad">
						<input type="date" class="form-control mb-3" id="dateSearcher" placeholder="Seleccione las fechas">

						<p class="font-weight-bold" id="tourCount">Valoración</p>
						<fieldset id="valoracionFieldset">
							<p class="clasificacion">
								<input id="radio1" type="radio" name="estrellas" value="5">
								<label for="radio1">★</label>
								<input id="radio2" type="radio" name="estrellas" value="4">
								<label for="radio2">★</label>
								<input id="radio3" type="radio" name="estrellas" value="3">
								<label for="radio3">★</label>
								<input id="radio4" type="radio" name="estrellas" value="2">
								<label for="radio4">★</label>
								<input id="radio5" type="radio" name="estrellas" value="1">
								<label for="radio5">★</label>
							</p>
						</fieldset>

						<div class="row mt-3">
							<h1 class="col-7"></h1>
							<a href="" id="clean" class="ml-auto mr-4 small">Limpiar todo</a>
						</div>
						<datalist id="loc-datalist"></datalist>
					</form>
				</div>
				<button class="btn btn-custom col-12" data-bs-toggle="modal" href="#newRouteModal" onclick="initializeMaps('map-inicio')">Nueva ruta</button>
				<button class="btn btn-custom col-12 mt-3 mb-4" data-bs-toggle="modal" href="#calendarModal" onclick="inicializarCalendario()">Calendario</button>
			</div>
			<div class="col-1 bg-active"></div>

			<div class="col-lg-9 col-sm-12 bg-active h-auto" id="zona-tours">
				<div id="empty" style="display: none" class="row bg-routing mb-3 justify-content-center align-items-center tours p-1">
					<img id="foto" src="{{asset('media/coliseo.png')}}" width="20%" height="20%" alt="Tour Image">
					<h5 class="col-12 text-center">Tu búsqueda está en ruinas</h5>
				</div>
				<nav id="pagination" aria-label="Page navigation example" class="d-flex justify-content-center align-content-center">
					<ul class="pagination" style="display: none" id="listaPage">
						<li class="page-item page-ext" id="previous" onclick="changePage(prev)">
							<a class="page-link" href="#">Anterior</a>
						</li>
						<li class="page-item page-ext" id="next" onclick="changePage(next)">
							<a class="page-link" href="#">Siguiente</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</section>

	<div class="modal fade" id="newRouteModal" aria-hidden="true" aria-labelledby="newRouteModalLabel" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Crea una nueva ruta</h5>
				</div>
				<div class="modal-body">
					<form method="post">
						<div class="row">
							<div class="col-6">
								<div class="mb-3">
									<input type="text" class="form-control" id="tituloRuta" required placeholder="Título de la ruta">
								</div>
								<select class="form-select-lg custom-select col-12 mb-3" id="sel-loc" aria-label="Default select example">
									<option selected>Seleccione la provincia</option>
								</select>
							</div>
							<div class="col-6">
								<div class="mb-3">
									<input type="number" min="1" class="form-control" id="aforo" name="aforo" required placeholder="Aforo">
								</div>
								<input type="file" class="form-control" id="fileInput" onchange="encodeRutaFoto(this)" name="fileInput" required placeholder="Selecciona un archivo">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-6">
								<input type="date" class="form-control" id="fec_ini" name="fec_ini" required placeholder="Fecha de inicio">
							</div>
							<div class="col-6">
								<input type="date" class="form-control" id="fec_fin" name="fec_fin" required placeholder="Fecha de fin">
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-lg-6">
								<input type="text" class="form-control mb-3" id="ini-ruta" name="ini-ruta" required placeholder="Punto de inicio">
								<div class="d-flex justify-content-center align-items-center">
									<input type="text" class="form-control col-5" id="latitudIni" name="latitud" required placeholder="Latitud">
									<div class="col-2"></div>
									<input type="text" class="form-control col-5" id="longitudIni" name="longitud" required placeholder="Longitud">
								</div>
							</div>
							<div class="col-lg-6">
								<div id="map-inicio" class="col-12"></div>
							</div>
						</div>
						<div class="mb-3">
							<textarea class="form-control col-12" style="height: 100px;" id="desc" name="desc" required placeholder="Descripción"></textarea>
						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-custom col-2 fs-6" data-bs-target="#newRouteModal2" onclick="initializeMaps('map-items')" data-bs-toggle="modal" data-bs-dismiss="modal">
						Siguiente
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="newRouteModal2" aria-hidden="true" aria-labelledby="newRouteModal2Label" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Añade los items de la ruta</h5>
					<button class="btn btn-custom col-1 fs-6" data-bs-target="#newItemModal" onclick="initializeMaps('map')" data-bs-toggle="modal" data-bs-dismiss="modal">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus" viewbox="0 0 16 16">
							<path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
							<path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4"/>
						</svg>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-6 box-1">
							<div class="box-container">
								<ul id="sortable1" class="connectedSortable"></ul>
							</div>
						</div>
						<div class="col-6 box-2">
							<div class="box-container">
								<ul id="sortable2" class="connectedSortable"></ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div id="map-items" class="col-12"></div>
					</div>
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-secondary col-2 fs-6" data-bs-target="#newRouteModal" data-bs-toggle="modal" data-bs-dismiss="modal">
						Volver
					</button>
					<button class="btn btn-custom col-2 fs-6" data-bs-target="#programModal" data-bs-toggle="modal" data-bs-dismiss="modal">
						Siguiente
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="newItemModal" aria-hidden="true" aria-labelledby="newRouteModal3Label" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Crear nuevo item</h5>
				</div>
				<div class="modal-body">
					<div class="row">
						<form method="post" id="itemForm" class="col-6">
							<div class="row">
								<div class="col-12">
									<div class="mb-3">
										<input type="text" class="form-control" id="tituloItem" name="titItem" required placeholder="Título de la ruta">
									</div>
									<div class="mb-3">
										<textarea class="form-control" id="descItem" name="desc" required placeholder="Descripción"></textarea>
									</div>
								</div>
								<div class="col-12">
									<input type="file" onchange="encodeImageFileAsURL(this)" class="form-control" id="fotoItem" name="fileInput" required placeholder="Selecciona un archivo">
								</div>
								<div class="col-6 mt-3">
									<input type="text" class="form-control" id="lat" name="fileInput" required placeholder="Selecciona la latitud">
								</div>
								<div class="col-6 mt-3">
									<input type="text" class="form-control" id="long" name="fileInput" required placeholder="Selecciona la longitud">
								</div>
							</div>
						</form>

						<div class="col-6 justify-content-center">
							<div id="map" class="col-12 mb-3"></div>
							<button id="findItem" class="btn btn-custom col-5 mx-2">Localizar item</button>
							<button id="newItem" form="itemForm" class="btn btn-custom col-5 mx-2">Crear nuevo item</button>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary col-2 fs-6 mr-auto" data-bs-target="#newRouteModal2" data-bs-toggle="modal" data-bs-dismiss="modal">
						Volver
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="programModal" aria-hidden="true" aria-labelledby="programModalLabel" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Edita la programación de la ruta</h5>
				</div>
				<div class="modal-body">
					<form id="diahoraForm">
						<h6 class="text-center">Días que estará disponible</h6>
						<div class="row d-flex justify-content-center align-items-center">
							<div class="btn-group btn-group-toggle dias" data-toggle="buttons">
								<label class="btn btn-outline-primary outline-custom">
									<input value="1" type="checkbox" autocomplete="off" data-info='L'>
									Lunes
								</label>
								<label class="btn btn-outline-primary outline-custom">
									<input value="2" type="checkbox" autocomplete="off" data-info='M'>
									Martes
								</label>
								<label class="btn btn-outline-primary outline-custom">
									<input value="3" type="checkbox" autocomplete="off" data-info='X'>
									Miércoles
								</label>
								<label class="btn btn-outline-primary outline-custom">
									<input value="4" type="checkbox" autocomplete="off" data-info='J'>
									Jueves
								</label>
							</div>
							<div class="btn-group btn-group-toggle dias" data-toggle="buttons">
								<label class="btn btn-outline-primary outline-custom">
									<input value="5" type="checkbox" autocomplete="off" data-info='V'>
									Viernes
								</label>
								<label class="btn btn-outline-primary outline-custom">
									<input value="6" type="checkbox" autocomplete="off" data-info='S'>
									Sábado
								</label>
								<label class="btn btn-outline-primary outline-custom">
									<input value="7" type="checkbox" autocomplete="off" data-info='D'>
									Domingo
								</label>
							</div>
						</div>
						<h6 class="text-center mt-3">Escoja las fechas en las que se aplicará este horario</h6>
						<div class="row d-flex justify-content-center align-items-center mt-3 mb-3">
							<input type="date" id="fechaIniPrg" class="form-control col-3" placeholder="Fecha de inicio">
							<input type="date" id="fechaFinPrg" class="form-control col-3 ml-1" placeholder="Fecha de fin">
						</div>
						<h6 class="text-center mt-3">Guía asignado a esta ruta</h6>
						<div class="row d-flex justify-content-center align-items-center mt-3">
							<select class="form-select-lg custom-select col-3" id="sel-guia" aria-label="Default select example">
								<option selected>Seleccione al guía</option>
							</select>
						</div>
						<h6 class="text-center mt-3">Escoja las horas ofertadas para los días seleccionados</h6>
						<div class="row d-flex justify-content-center align-items-center mt-3 mb-3">
							<input type="time" id="horaDia" class="form-control col-3" placeholder="Hora del tour">
							<button type="button" onclick="addHour()" class="btn btn-custom ml-1">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus" viewbox="0 0 16 16">
									<path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
									<path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4"/>
								</svg>
							</button>
							<button type="button" onclick="clearForm()" class="btn btn-custom ml-1">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewbox="0 0 16 16">
									<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
									<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
								</svg>
							</button>

						</div>
					</form>

					<div class="diaHora text-center" id="saco"></div>
				</div>
				<div class="modal-footer justify-content-start">
					<button type="button" class="btn btn-secondary col-2 fs-6 mr-auto" data-bs-target="#newRouteModal2" data-bs-toggle="modal" data-bs-dismiss="modal">
						Volver
					</button>
					<div class="col-3"></div>
					<button type="button" id="crearRuta" class="btn btn-custom col-2">
						Crear ruta
					</button>
					<div class="col-5"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="confirmModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Cancelar el tour</h5>
				</div>
				<div class="modal-body">
					<p>Esta acción será definitiva, una vez eliminado, este tour no volverá a aparecer</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					<button type="button" class="btn btn-danger deleteBTN">Eliminar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="calendarModal" aria-hidden="true" aria-labelledby="calendarModalLabel" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Cuadrante de XPeriences</h5>
				</div>
				<div class="modal-body">
					<div id='calendar'></div>
				</div>
			</div>
		</div>
	</div>
	<div class="overlay" id="overlay" style="display:none;">
		<img class="jello-horizontal" src="{{asset('media/logo.png')}}" width="50px">
	</div>
</div></div>{% block javascripts %}
{{parent()}}{% endblock %}{% endblock %}
